.var, .func {
  font-family: monospace;
  font-weight: bold;
}

.var > a,
.func > a {
  margin-right: .5em;
}

.var > .keyword,
.func > .keyword {
  font-weight: bold;
}

.func > .params {
  font-size: .9em;
  opacity: .9;
}

[data-md-color-media="(prefers-color-scheme: light)"] .main-logo,
[data-md-color-media="(prefers-color-scheme: light)"] .md-header__button.md-logo {
  filter: invert() brightness(1.25) contrast(60%);
}

.main-logo {
  display: block;
  margin: auto !important;
}