name: Dialogue Test

on:
  push:
    branches:
      - main
      - dev
    paths:
      - '.github/workflows/dialogue-test.yml'
      - 'addons/Theatre/classes/Dialogue.gd'
      - 'addons/Theatre/classes/DialogueParser.gd'
      - 'dialogue/**.dlg'
      - 'dialogue/**.REF.tres'
      - 'tests/class/**'
      - 'tests/**_ci.gd'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/dialogue-test.yml'
      - 'addons/Theatre/classes/Dialogue.gd'
      - 'addons/Theatre/classes/DialogueParser.gd'
      - 'dialogue/**.dlg'
      - 'dialogue/**.REF.tres'
      - 'tests/class/**'
      - 'tests/**_ci.gd'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        godot-version: 
          - 4.4
          - 4.5
          - 4.6

    runs-on: ${{ matrix.os }}

    env:
      GODOT_VERSION: ${{ matrix.godot-version }}-stable

    steps:
      - name: Cache Godot binary
        id: godotbin-cache
        uses: actions/cache@v5
        with:
          path: ${{ runner.temp }}/godot/
          key: godot-${{ matrix.os }}-${{ matrix.godot-version }}

      - name: Set up Godot path
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            echo "GODOT=$RUNNER_TEMP/godot/godot.exe" >> $GITHUB_ENV
          else
            echo "GODOT=$RUNNER_TEMP/godot/godot" >> $GITHUB_ENV
          fi

      - name: Download Godot if not cached
        if: steps.godotbin-cache.outputs.cache-hit != 'true'
        run: |
          GODOT_BINARY=Godot_v${{ matrix.godot-version }}-stable_${{
            matrix.os == 'ubuntu-latest' && 'linux.x86_64' || 'win64.exe'
          }}

          curl -sL -o godot.zip \
            https://github.com/godotengine/godot/releases/download/$GODOT_VERSION/$GODOT_BINARY.zip
          unzip -o ./godot.zip

          mkdir -p "$RUNNER_TEMP/godot/"

          mv "$GODOT_BINARY" "$GODOT"

      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Import project assets
        run: |
          $GODOT --headless --import

      - name: Run parser test
        run: |
          $GODOT --no-header --headless --script ./tests/dialogue_test_ci.gd

      - name: Run parser benchmark test
        run: |
          $GODOT --no-header --headless --script ./tests/benchmark_ci.gd
