name: Clean up repository workflow logs

on:
  schedule:
    - cron: '0 0 */7 * *'
  workflow_dispatch:

jobs:
  clean:
    env:
      WORKFLOW_AGE: 604800 # (7 days) in seconds
      REPO: ${{ github.repository }}

    runs-on: ubuntu-latest

    permissions:
      actions: write

    steps:
      - name: Clean up workflow logs
        run: |
          curl -s \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "https://api.github.com/repos/nndda/ci/contents/sh/gh/purge-workflow.sh?ref=main" \
          | jq -r .content \
          | base64 -d \
          | bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
